{{>navbar}}
<div class=" bg-light  h-100 p-3 text-center" style="width: 10%; min-height: 100vh; font-weight: bolder; font-size: 20px; float: left;">
    <p class="text-secondary">file info</p>
</div>
<div style="width: 90% float: right; margin-top: 15px;">
<ul style="list-style: none; padding-left: 5%;" >
<li class="text-primary">
    id:
    <span class="text-secondary">{{file.id}}</span>
</li>
<li class="text-primary">
    name:
    <span class="text-secondary">{{file.name}}</span>
</li>
<li class="text-primary">
    path:
    <span class="text-secondary">{{file.path}}</span>
</li>
<li class="text-primary">
    size:
    <span class="text-secondary">{{file.size}}</span>
</li>
<li class="text-primary">
    type:
    <span class="text-secondary">{{file.type}}</span>
</li>
<li class="text-primary">
    savedate:
    <span class="text-secondary">{{file.savedate}}</span>
</li>
</ul>
</div>