<script>
    function CancelFolders() {
        document.getElementById('folders').close()
    }
    function CancelChdir() {
        document.getElementById('changedir').close()
    }
    function CancelFiles() {
        document.getElementById('files').close()
    }
    function FolderMenu() {
        document.getElementById('folders').showModal()
    }
    function FilesMenu() {
        document.getElementById('files').showModal()
    }
    function ChdirMenu() {
        document.getElementById('changedir').showModal()
    }
</script>
{{>navbar}}
<dialog id="folders">
    <form action="/addfolder" method="GET">
        <label for="dirname">nazwa nowego folderu w</label>
        <input type="text" name="dirname" id="dirname">
        <input class="btn btn-rounded btn-warning" type="submit" value="OK">
        <button onclick="CancelFolders()" class="btn btn-rounded btn-warning">Cancel</button>
        <input type="hidden" name="root" value="{{root}}" />
    </form>
</dialog>
<dialog id="changedir">
    <form action="/changedir" method="GET">
        <label for="dirchange">zmiana nazwy folderu {{takeLast splitedloc}}</label>
        <input type="text" name="filename" id="filename">
        <input class="btn btn-rounded btn-warning" type="submit" value="OK">
        <button onclick="CancelChdir()" class="btn btn-rounded btn-warning">Cancel</button>
    </form>
</dialog>

<dialog id="files">
    <form action="/addfile" method="GET">
        <label for="filename">nazwa nowego pliku w</label>
        <input type="text" name="filename" id="filename">
        <input class="btn btn-rounded btn-warning" type="submit" value="OK">
        <button onclick="CancelFiles()" class="btn btn-rounded btn-warning">Cancel</button>
    </form>
</dialog>

<div class=" bg-light  h-100 p-3 text-center"
    style="width: 10%; min-height: 100vh; font-weight: bolder; font-size: 20px; float: left;">
    <button onclick="FolderMenu()" class="btn btn-rounded btn-warning w-100 mb-3">nowy folder</button>
    <button onclick="FilesMenu()" class="btn btn-rounded btn-warning w-100 mb-3">nowy plik tekstowy</button>
    {{#if (equal currentpath 'upload') }}
    <button onclick="ChdirMenu()" style="display: none;" class="btn btn-rounded btn-warning w-100 mb-3">zmiana nazwy folderu</button>
    {{else}}
    <button onclick="ChdirMenu()" class="btn btn-rounded btn-warning w-100 mb-3">zmiana nazwy folderu</button>
    {{/if}}
    <div class="btn btn-rounded w-100 btn-warning "  > 
   <form action="/upload" method="POST" enctype="multipart/form-data">
   
    <label for="fileInput">[wybierz...]
        <input type="file" multiple required name="uploaded" id="fileInput" style="display: none;">
    </label>
    <button class="btn btn-rounded btn-success "type="submit">OK</button>
    </div>
</form>
    
</div>

<div style="display: flex; flex-direction: column;">
    <div>
        {{#each splitedloc}}
        <a class="text-dark" href="?back={{formatPath @index}}"> {{this}} ></a>
        {{/each}}
    </div>
<div style="display: block; margin-top: 20px">
    {{#each dirs}}
    <a href="?path={{currentpath}}/{{this}}">
    {{> diroption dir=this currentpath=currentpath}}
    </a>
    {{/each}}


</div>
<div style="display: block; margin-top: 20px">
    {{#each filestab}}
    {{>fileoption}}
    {{/each}}
</div>
</div>