<tr>
    <td>{{_id}}</td>
    <td>{{ubezpieczony}}</td>
    <td>{{benzyna}}</td>
    <td>{{uszkodzony}}</td>
    <td>{{naped}}</td>
    <td><button class="btn btn-danger" type="submit" form="Dels" name="{{_id}}" formaction="/delSel">DELETE</button></td>
    <td><input type="checkbox" class="form-check-input" form="Dels" name="{{_id}}"></td>
</tr>