<tr>
    <td>{{_id}}</td>
    <td>{{ubezpieczony}}</td>
    <td>{{benzyna}}</td>
    <td>{{uszkodzony}}</td>
    <td>{{naped}}</td>
    <!--<td><form action="/carList" method="POST"><input type="hidden" name="id" value="{{_id}}"><button type="submit" class="btn btn-dark">INFO</button></form></td>-->
    <td><button type="submit" class="btn btn-dark" onclick="alert('id : {{_id}}\n ubezpieczony: {{ubezpieczony}}\n benzyna: {{benzyna}}\n uszkodzony: {{uszkodzony }}\n naped4x4: {{naped}}')">INFO</button></td>
</tr>